*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 180px;
    height: 180px;
    /* background: #4B0082; */
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.18), 6px 6px 10px -1px rgba(255,255,255,0.9);
    padding: 21px;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 6px -1px rgba(0, 0, 0, 0.205),
                inset 3px 3px 6px -1px rgba(255, 255, 255, 0.712),
                -0.6px -0.6px 0px rgb(255, 255, 255),
                0.5px 0.6px 0px rgba(0, 0, 0, 0.164),
                0px 12px 9px -9px rgba(0, 0, 0, 0.021);
}
#number{
    font-size: 30px;
    font-weight: 900;
    color: #555;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 3s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim {
    100%{
        stroke-dashoffset: 169.3;
    }
}